:root {
  --primary-text-color: #212121;
  --secondary-text-color: #FFFFFF;
  --accent-color: #2196F3;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --section-background-color: #F5F4FA;
  --footer-link-color: #ffffff60;
  --contact-text-color: #757575;
  --studio-text-color: #000000;
  --border-line-color: #ECECEC;
}

/*Reset*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*header container*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Logo (haeder, footer)*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;
}

.logo__dark {
  color: var(--studio-text-color);
}

.logo__light {
  color: var(--secondary-text-color);
}

/*nav (header)*/
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 93px;
}

.header__nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: var(--accent-color);
}

.header__nav-link--active {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.header__nav-link--active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: 95%;
  right: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  border-radius: 2px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header__nav-link--active {
  color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link--active:hover, .header__nav-link--active:focus {
  color: var(--accent-color);
}

/*contacts (header)*/
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  gap: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts__link {
  text-decoration: none;
  color: var(--contact-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.contacts__icons {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

/*section work*/
.section.section--work {
  padding-top: 0;
}

.section__title {
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.card-set__work-thumb {
  display: inline-block;
  position: relative;
}

.card-set__work-text {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 70px;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.card-set__work-title {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/*team*/
.section__title {
  margin-bottom: 50px;
}

.section--team {
  background-color: var(--section-background-color);
}

.card-set__member {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary-background-color);
}
.card-set__member:last-child {
  margin-right: 0;
}
.card-set__member {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-set__team-name {
  padding-top: 30px;
  padding-bottom: 8px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.card-set__team-position {
  margin-bottom: 16px;
}

.team-position {
  padding-bottom: 16px;
  color: var(--contact-text-color);
  font-size: 16px;
  line-height: 1.17;
}

/*customers*/
.section__title {
  text-align: center;
}

.card-set__item {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__item:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.card-set__icon {
  fill: #AFB1B8;
}
.card-set__item:hover .card-set__icon {
  fill: var(--accent-color);
}

/*card-set*/
.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.card-set_members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 50px;
}

/*socials-icon*/
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.socials__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__item:hover .socials__icon, .socials__item:focus .socials__icon {
  fill: var(--secondary-text-color);
}

.socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__item:hover, .socials__item:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/*footer*/
.basement {
  background-color: var(--secondary-background-color);
  padding: 60px;
}

.logo--basement {
  display: inline-block;
  padding-bottom: 20px;
}

.basement__contacts {
  margin-top: 0;
  margin-bottom: 0;
}

.basement__contacts-item {
  padding-bottom: 9px;
}

.basement__contacts-item:last-child {
  padding-bottom: 0;
}

.basement__contacts-address {
  color: var(--secondary-text-color);
}

.basement__contacts-link {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.basement__contacts-link:hover,
.basement__contacts-link:focus {
  color: var(--accent-color);
}

.basement__social-block {
  color: var(--primary-background-color);
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  margin-left: 55px;
  padding-top: 10px;
}

.basement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item--basement {
  background-color: rgba(255, 255, 255, 0.1);
}

/*features*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--section-background-color);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.features__title {
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--contact-text-color);
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/*header*/
/*container*/
.header {
  border-bottom: 1px solid var(--border-line-color);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*nav*/
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link.current {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link.current {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.site-nav .link.current::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: 100%;
  right: 0%;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 0;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .item + .item {
  margin-left: 50px;
}

.nav-web {
  color: var(--accent-color);
}

.nav-studio {
  color: var(--studio-text-color);
}

.nav-web,
.nav-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current:hover,
.site-nav .link.current:focus {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--contact-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item .link:hover,
.contact-item .link:focus {
  color: var(--accent-color);
}

.contact-icons {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.contact-icons {
  margin-right: 10px;
  vertical-align: middle;
}

/*main*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*filters*/
.filter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 611px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.filter-items .item + .item {
  margin-left: 8px;
}

.filter-btn {
  background-color: var(--section-background-color);
  cursor: pointer;
  border: none;
  font-style: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.filter-items .item:hover,
.filter-items .item:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*projects*/
.projects {
  padding-top: 0;
}

.project-items {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.project-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
}

.project-item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-thumb {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.project-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--secondary-text-color);
  text-align: start;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .project-item-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover,
.project-item:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project-item .link {
  text-decoration: none;
}

.card-text {
  padding-bottom: 30px;
  margin-bottom: 0;
  color: var(--contact-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.card-title {
  padding-top: 20px;
  padding-bottom: 4px;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-style: 700;
  font-size: 18px;
  line-height: 2;
}

.text {
  border-bottom: 1px solid var(--project-line-color);
  border-left: 1px solid var(--project-line-color);
  border-right: 1px solid var(--project-line-color);
  padding-left: 24px;
}

/*footer*/
.basement {
  padding: 60px 0;
  background-color: var(--secondary-background-color);
}

.site-basement {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
}

.site-basement .logo {
  display: inline-block;
  /* padding-top: 60px; */
  margin-bottom: 20px;
  text-decoration: none;
}

.site-basement .link {
  display: inline-block;
}

.site-basement .item {
  padding-bottom: 9px;
}

.site-basement .item:last-child {
  padding-bottom: 0;
}

.site-basement .studio,
.site-basement .link,
.site-basement .address {
  color: var(--secondary-text-color);
}

.web {
  color: var(--accent-color);
}

.web,
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.site-basement .mail,
.site-basement .tel {
  text-decoration: none;
}

.site-basement .link {
  font-size: 14px;
  line-height: 1.7;
}

.site-basement .mail,
.site-basement .tel {
  color: rgba(255, 255, 255, 0.6);
}

.site-basement .link:hover,
.site-basement .link:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.social-invite {
  color: var(--primary-background-color);
  font-size: 14px;
  line-height: 1.14;
  padding-bottom: 15px;
}

.social.basement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 206px;
  height: 80px;
  margin-left: 70px;
  padding-top: 10px;
}

.basement .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
}

.social.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
}

.social-item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

.social-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social.icon-list .social-icon {
  fill: var(--secondary-text-color);
}

.basement .social-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover,
.social-item:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.form-field {
  display: inline-block;
  text-align: left;
  margin: 0;
  margin-left: auto;
  padding-top: 10px;
}

.field-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-field input {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  margin-bottom: 0;
}

.registration {
  display: inline-block;
  color: var(--secondary-text-color);
}

.invite-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 6%;
  color: var(--secondary-text-color);
}

.invite input {
  width: 340px;
  height: 50px;
  background-color: var(--secondary-background-color);
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.3);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.submit {
  width: 200px;
  height: 50px;
  margin-left: 0px;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  text-align: center;
  -webkit-box-shadow: rgba(0, 4, 4, 0.25);
          box-shadow: rgba(0, 4, 4, 0.25);
  border-radius: 4px;
  border-style: none;
  padding-top: 0;
  /* margin-bottom: 90px; */
}

.registration {
  width: 358px;
  height: 50px;
  margin-bottom: 0;
}

.sign-up {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img_underlay.jpg);
  background-image: linear-gradient(to left top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_underlay.jpg);
}

.hero-title {
  width: 696px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
}

/*button*/
.button {
  width: 200px;
  height: 50px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  color: var(--section-background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}

.button-hero {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.backdrop {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color);
  margin-top: 0;
  padding: 40px auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2);
          box-shadow: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(0, 0, 0, 0.14);
          box-shadow: rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: rgba(0, 0, 0, 0.12);
          box-shadow: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  z-index: -1;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 1;
}

.data-modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1.5%;
  right: 1.5%;
  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}

.data-modal-close:hover {
  color: var(--accent-color);
}

.modal-icon-item {
  width: 22px;
  height: 22px;
}

.modal-icon-item:hover {
  fill: var(--accent-color);
}

.name-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

input.visiter {
  background-color: var(--primary-background-color);
}

/*form-icons*/
.form-title {
  display: inline-block;
  width: 448px;
  height: 23px;
  margin-top: 40px;
  margin-left: 41px;
  margin-right: 39px;
  margin-bottom: 12px;
  text-align: center;
}

.form-input input {
  border: 1px solid var(--primary-text-color);
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding-left: 35px;
}

.form-input input:focus {
  border-color: var(--accent-color);
}

.form-input input:focus, .form-icon:focus {
  fill: var(--accent-color);
}

/*labels*/
.form-label {
  color: var(--contact-text-color);
}

.visiter .form-label {
  bottom: 100%;
  left: 10%;
}

.telephon .form-label {
  top: 20%;
  left: 10%;
}

.form-input textarea {
  width: 100%;
  height: 138px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding-left: 12px;
  padding-top: 5px;
}

.form-input textarea:hover, .form-input textarea:focus {
  border-color: var(--accent-color);
}

.form-input textarea::-webkit-input-placeholder {
  color: #757575;
  opacity: 0.5;
  background-color: var(--primary-background-color);
}

.form-input textarea::-moz-placeholder {
  color: #757575;
  opacity: 0.5;
  background-color: var(--primary-background-color);
}

.form-input textarea:-ms-input-placeholder {
  color: #757575;
  opacity: 0.5;
  background-color: var(--primary-background-color);
}

.form-input textarea::-ms-input-placeholder {
  color: #757575;
  opacity: 0.5;
  background-color: var(--primary-background-color);
}

.form-input textarea::placeholder {
  color: #757575;
  opacity: 0.5;
  background-color: var(--primary-background-color);
}

.form-icon {
  position: absolute;
  top: 32px;
  left: 55px;
  margin-bottom: 20px;
}

.form-icon-phone, .form-icon-envelope, .icon-agree {
  position: absolute;
}

.icon-agree {
  width: 16px;
  height: 15px;
  top: 62%;
  left: 12%;
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.form-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 0;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 4px;
}

.form-input:focus-within {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.form-input.comment {
  width: 100%;
}

.comment {
  resize: none;
}

/*form-button*/
.form-button {
  width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  background-color: #188CE8;
  border-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.form__field {
  width: 100%;
}

.checkbox {
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.form-input input:focus {
  border: 1px solid var(--accent-color);
  outline: 0;
}

.form__checkbox-link {
  color: var(--accent-color);
}

.form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.7px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox + .form__checkbox-icon {
  opacity: 0;
}

.form__checkbox-text::before {
  position: absolute;
  left: 61px;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
}

.checkbox:checked + .form__checkbox-icon + .form__checkbox-text::before {
  border: 2px solid transparent;
}

.checkbox:checked + .form__checkbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--accent-color);
  fill: var(--secondary-text-color);
  border: none;
  overflow: hidden;
  opacity: 1;
}

.form__checkbox-text {
  padding-top: 2px;
  font-weight: 400;
  line-height: 1.16;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-bottom: 26px;
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */