
    :root {
      --primary-text-color: #212121;
      --secondary-text-color: #FFFFFF;
      --accent-color: #2196F3;
      --primary-background-color: #FFFFFF;
      --secondary-background-color: #2F303A;
      --section-background-color: #F5F4FA;
      --footer-link-color: #ffffff60;
      --contact-text-color: #757575;
      --studio-text-color: #000000;
      }
  
      body {
      background-color: var(--primary-background-color);
      color: var(--primary-text-color);
      font-family: Roboto, sans-serif;
      letter-spacing: 0.03em;
      }
  
        
    html {
      box-sizing: border-box;
    }
    
    *,
    *::after,
    *::before {
      box-sizing: inherit;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-top: 0;
    }
    
    
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
  
      
    .link {
      text-decoration: none;
      color: inherit;
    }
    
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    
    address {
      font-style: normal;}
  
      
      /*header*/
      
      /*container*/
  
      .header .container {
        display: flex;
        align-items: center;
      }
  
      .container {
        
        width: 1200px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
      }
         
       /*nav*/
      
    
      .site-nav {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 93px;
      
      }
         
  
      .site-nav .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      
     }
  
     .site-nav .link.current {
      padding-top: 32px;
      padding-bottom: 32px;
      position: relative;
      }
  
      
      .site-nav .link.current::after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        top: 100%;
        right:0%;
        transform: translate(-0%, -100%);
        
        
        background-color: var(--accent-color);
        border-radius: 2px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
  
  
     .site-nav .item + .item {
      margin-left: 50px;
     }
  
     .contacts {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      padding-left: 0;
      }
  
     .contacts .link {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
     }
  
     .contacts .item + .item {
      margin-left: 50px;
     }
  
     .nav-web {
      color: var(--accent-color);
      }
      
      .nav-studio {
      color: var(--studio-text-color);
      }    
      
      .nav-web, .nav-studio {
      font-family: Raleway, sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      }
      
      .nav .link {
      color: var(--primary-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-decoration: none;
  
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      }
  
      .nav .link:hover, .nav .link:focus {
      color: var(--accent-color);
      }
  
      .site-nav .link.current {
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  
      .site-nav .link.current:hover,
      .site-nav .link.current:focus {
        color:var(--accent-color);
      }
  
      .contacts .link {
      color: var(--contact-text-color);
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      }
      
      .contact-item .link.mail:hover, .contact-item .link.mail:focus,
      .contact-item .link.tel:hover, .contact-item .link.tel:focus {
      color: var(--accent-color);
      }
  
      .link.mail, .link.tel {
        display: flex;
        align-items: center;
      } 
      
      .contact-icons {
        width: 16px;
        height: 12px;
        fill: currentColor;
  
      }
  
      .contact-item  {
        display: flex;
        align-items: center;
        margin-right: 30px;
      }
  
      li.contact-item svg {
        margin-right: 10px;
      }
  
      
  
      /*hero*/
  
      .section {
        padding-top: 94px;
        padding-bottom: 94px;
      }
      
      .section.hero {
        padding-top: 200px;
        padding-bottom: 200px;
      }
  
      .overlay {
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to left top,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/img_underlay.jpg);
    }
        
      .hero-title {
      width: 696px;
      padding-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  
      color: var(--secondary-text-color);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 6%;
      } 
  
      /*button*/
  
      .button {
      width: 200px;
      height: 50px;
      display: block;
      align-items: center;
      border: none;
      border-radius: 4px;
      
      
      color: var(--section-background-color);
      background-color: var(--accent-color);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.9;
      }
  
      .button-hero {
      margin-left: auto;
      margin-right: auto; 
      margin-top: 30px; 
      }
         
      /*features*/
  
      .visually-hidden { 
        position: absolute; 
        width: 1px; 
        height: 1px; 
        margin: -1px; 
        border: 0; 
        padding: 0; 
        white-space: nowrap; 
        clip-path: inset(100%); 
        clip: rect(0 0 0 0); 
        overflow: hidden; 
        }
  
      .features {
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
      }
  
      .feature-title {
      font-size: 14px;
      line-height: 1.17;
      align-content: space-between;
      }
         
      .features-text {
      font-size: 14px;
      line-height: 1.7;
      color: var(--contact-text-color);
      margin-top: 0;
      margin-bottom: 0;
      }
      
      .feature-item {
        width: 270px;
        }
  
        .thumb {
          padding: 25px 100px;
        }
  
        .thumb {
          display: block;
          height: 120px;
          background-color: #F5F4FA;
          margin-bottom: 30px;
        }
      
      
         
      /*work*/ 
  
      .section.work {
        padding-top: 0;
      }
  
       .section-title {
        width: 376px;
        margin-left: auto;
        margin-right: auto;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
      }
  
      .work-items {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
      }
  
        
       .work-item {
         flex-basis: calc((100% - 60px) / 3); 
         margin-right: 30px;
         position: relative;
       }
  
       .work-item:last-child {
        margin-right: 0px;
       }
  
        .work-item-thumb {
        display: inline-block;
        position: relative;
        }
  
      .work-item-text {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 70px;
        top: 100%;
        left: 100%;
        
        transform: translate(-100%,-100%);
        color: var(--secondary-text-color);
        background-color: rgba(47, 48, 58, 0.8);
        }
  
      .work-item-title {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-bottom: 0;
        transform: translate(-50%,-50%);
  
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        }
             /*team*/
      
      
      .team .section-title {
        margin-bottom: 50px;
      }
  
       .team-members {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
       }
  
      .team {
        background-color:var(--section-background-color);
       }
      
      .team-member {
        flex-basis: calc((100% - 90px) / 4); 
        margin-right: 30px;
  
        align-items:center;
        background-color: var(--primary-background-color);
       }
  
      .team-member:last-child {
        margin-right: 0;
       }
  
      .team-name {
        padding-top: 30px;
        padding-bottom: 8px;
  
        font-weight: 500; 
        font-size: 16px;
        line-height: 1.19;
      }
  
      .team-name, .team-position{
        text-align: center;
        margin: 0;
      }
  
      .team-position {
        padding-bottom: 16px;
  
        color: var(--contact-text-color);
        font-size: 16px;
        line-height: 1.17;
       }
  
       
       .team-member {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
       }
  
       .social {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        }
  
        .social-item {
          width: 44px;
          height: 44px;
          cursor: pointer;
        }
      
        .social-item:not(:last-child) {
          margin-right: 8px;
        }
  
      .social-link-item {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #AFB1B8;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      }
  
      .social-link-item:hover,
      .social-link-item:focus {
        background-color: var(--accent-color);
        fill: var(--secondary-text-color);
       
        }
  
      .social-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .social-icon:hover, .social-icon:focus{
        fill: var(--secondary-text-color);
      }
      
      .social-item:hover .social-icon,
      .social-item:focus .social-icon
      {
        fill: var(--section-background-color);
      }
       /*customers*/
  
      .section-customers-title {
        text-align: center;
      }
  
        .label-item {
        width: 170px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--contact-text-color);
        border-radius: 4px;
  
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      }
        
        .label-item:hover, .label-item:focus {
         border-color: var(--accent-color);
         cursor: pointer;
         }
  
         .label-item:hover .social-icon {
          fill: var(--accent-color);
          cursor: pointer;
         }
  
       .label-list {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
       }
  
        .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #AFB1B8;
        
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
        } 
      
        .label-item .social-icon:hover, .label-item .social-icon:focus {
          fill: var(--accent-color);
          cursor: pointer;
        }
  
      /*footer*/
  
      .basement {
        background-color: var(--secondary-background-color); 
        padding: 60px;  
      }
  
      .site-basement {
        margin-top: 0;
        margin-bottom: 0;
        /* padding-bottom: 60px; */
       
      }
  
      .site-basement .logo {
        display: inline-block;
        /*padding-top: 60px; */
        padding-bottom: 20px;
  
        text-decoration: none;
      }
  
      .site-basement .link {
        display: inline-block;
      }
  
      .site-basement .item {
        padding-bottom: 9px;
      }
  
      .site-basement .item:last-child {
        padding-bottom: 0;
      }
  
      .site-basement .studio,
      .site-basement .link,
      .site-basement .address {
        color: var(--secondary-text-color);
      }
  
      .web {
        color: var(--accent-color);
      }
  
      .web, .studio {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
      }
  
      .site-basement .mail, .site-basement .tel {
        text-decoration: none;
      }
  
      .site-basement .link {
        font-size: 14px;
        line-height: 1.7;
      }
  
      .site-basement .mail,
      .site-basement .tel {
        color:rgba(255, 255, 255, 0.6)
      }
  
      .site-basement .link:hover,
      .site-basement .link:focus {
        color:var(--accent-color);
      }
  
      .address {
        font-style: normal;
      }
  
      .social-invite {
        color:var(--primary-background-color);
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 20px;
       
      }
  
      .social.basement {
        display: flex;
        flex-direction: column;
        width: 206px;
        height: 80px;
        margin-bottom: 0;
        margin-left: 55px;
        margin-right: 93px;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 25px;
       
      }
  
      .basement .container {
        display: flex;
        
      }
  
      .social.icon-list {
        margin-bottom: 0;
        justify-content: space-between;
      }
      
      .social.icon-list .social-icon {
        fill: var(--secondary-text-color);
      }
  
      .social.icon-list .social-link-item {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
      }
  
      .social.icon-list .social-link-item:hover, .social.icon-list .social-link-item:focus {
        background-color: var(--accent-color);
      }
  
      /*online-section*/
  
  
  
  
  /*registration-form (sign up)*/
  
  .form-field {
    display: inline-block;
    text-align: left;
    margin: 0;
    margin-left: auto;
  
  /* background-color: var(--secondary-background-color); */
  /* border-color: rgba(255, 255, 255, 0.3); */
  }
  
  .field-box {
    display: flex;
    
  }
  
  .field-input {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      background-color: rgba(0,0,0,0);
      color: rgba(255,255,255,.6);
      border: 1px solid rgba(255,255,255,.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      outline: none;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      width: 358px;
      padding: 15px 16px;
      margin-right: 12px;
      margin-bottom: 0;
  }
  
  
   
  
    .invite-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 6%;
    padding-top: 10px;
    color: var(--secondary-text-color);
  }
  
  .invite input {
  width: 700px;
  font-size: 14px;
  line-height: 1.2;
  
  background-color: var(--secondary-background-color);
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.3);
  }
      
    ::placeholder {
    color: rgba(255, 255, 255, 0.6);
    
    }
  
   .submit {
    display: flex;
    padding: 10px 28px;
    }
  
      .sign-up {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-left: 10px;
      }
  
         .registration {
          width: 358px;
          height: 50px;
          margin-bottom: 0;
        }
            
       
      /*modal window*/
  
      .backdrop {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background:rgba(0, 0, 0, 0.1);
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  
      .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 528px;
        height: 581px;   
        background-color: var(--secondary-text-color);
        margin-top: 0;
        padding: 40px auto;
  
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
  
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
        box-shadow: rgba(0, 0, 0, 0.2);
        box-shadow: rgba(0, 0, 0, 0.14);
        box-shadow: rgba(0, 0, 0, 0.12);
        border-radius: 4px;
  
        }
           
      .backdrop.is-hidden {
        opacity: 0;
        z-index: -1;
           
      }
  
      .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 1;
      }
  
     .data-modal-close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 1.5%;
        right: 1.5%;
        border-radius: 50%;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.1);
        padding: 5px 0;
       }
       
       .data-modal-close:hover {
        color: var(--accent-color);
       }
  
       .modal-icon-item {
        width: 22px;
        height: 22px;
        }
  
        .modal-icon-item:hover {
          fill: var(--accent-color);
        }
  
  /*form modal-window*/
  
      .name-field {
      display: flex;
      flex-direction: column;
      width: 100%;
            }
  
       input.visiter {
        background-color: var(--primary-background-color);
       }
  
       
       /*form-icons*/
  
  
       .form-title {
        display: inline-block;
        width: 448px;
        height: 23px;
        margin-top: 40px;     
        margin-left: 41px;
        margin-right: 39px;
        margin-bottom: 12px;
        text-align: center;
       }
  
  
       .form-input input{
        border: 1px solid var(--primary-text-color);
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline: none;
        padding-left: 35px;
       }
  
       .form-input input:focus {
          border-color: var(--accent-color);
       }
  
  
       
       
       .form-input input:focus, .form-icon:focus {
        fill: var(--accent-color);
        } 
  
       
       /*labels*/
  
       .form-label {
        color: var(--contact-text-color);
       }
        
      .visiter .form-label {
        bottom: 100%;
        left: 10%;
      }
  
       .telephon .form-label {
        top: 20%;
        left: 10%;
       }
  
      .form-input textarea {
        width: 100%;
        height: 138px;
        /* border: 1px solid var(--primary-text-color); */
        border-radius: 4px;
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline: none;
        padding-left: 12px;
        padding-top: 5px;
      }
  
      .form-input textarea:hover, .form-input textarea:focus {
        border-color: var(--accent-color);
      } 
  
      .form-input textarea::placeholder {
        color: #757575;
        opacity: 0.5;
        background-color: var(--primary-background-color);
      }
  
       .form-icon {
        position: absolute;
        top: 32px;
        left: 55px;
        margin-bottom: 20px;
        }
  
        /*.form-icon:hover, .form-icon:focus-within {
          fill: var(--accent-color);
         }*/
  
       .form-icon-phone, .form-icon-envelope, .icon-agree {
        position: absolute;
       }
  
       .icon-agree {
        width: 16px;
        height: 15px;
        top: 62%;
        left: 12%;
  
        fill: var(--secondary-text-color);
        background-color: var(--accent-color);
        
       }
  
      .form-input {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      /* padding: 0 55px; */
      padding-top: 0;
      padding-left: 41px;
      padding-right: 39px;
      padding-bottom: 10px;
      width: 100%;
      border-radius: 4px;
      }
  
      
      .form-input:focus-within {
        border-color: var(--accent-color);
         fill:var(--accent-color);
      }
 
        
      .form-input.comment {
        width: 100%;
      }
  
      .comment {
        resize: none;
      }
    
      /*form-button*/
  
      .form-button {
        width: 200px;
        padding: 10px 32px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        background-color: #188CE8;
        border-color: var(--accent-color);
        color: var(--secondary-text-color);
              
      }
  
      .form__field {
        width: 100%;
      }
  
  
  
      /*.checkbox {
        
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
           }*/
  .checkbox {
      display: inline-block;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      /* clip-path: inset(100%); */
      /* clip: rect(0 0 0 0); */
      overflow: hidden;
      /* transition: backgound-color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-image 250ms cubic-bezier(0.4, 0, 0.2, 1); */
       }
  
  
       
      .form-input input:focus {
      border: 1px solid var(--accent-color);
      outline: 0;
      }
        
      
      
       .form__checkbox-link {
        color: var(--accent-color);
       }
  
    .form__checkbox-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1.7px solid #212121;
      border-radius: 2px;
      margin-right: 8px;
      
    }
  
    
  
 
  /* .checkbox:checked .form__checkbox-icon {
    opacity: 1;
  }
  
  .checkbox .form__checkbox-icon {
    opacity: 0;
  }  */

  .checkbox + .form__checkbox-icon {
    opacity:0;
  }
  .form__checkbox-text::before{
    position: absolute;
    left: 61px;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border:1px solid #000000;
  }

  .checkbox:checked+.form__checkbox-icon + .form__checkbox-text::before{
    border: 2px solid transparent;
  }
  
  .checkbox:checked+.form__checkbox-icon {
      display: flex;
      /* border-color: rgba(0, 0, 0, 0); */
      background-color: var(--accent-color);
      /* background-image: url(../images/icons.svg/icon-agree); */
      /* background-size: contain; */
      fill: var(--secondary-text-color);
      border:none;
      overflow: hidden;
      opacity: 1;
    }
  
 

     .form__checkbox-text {
      padding-top: 2px;
      font-weight: 400;
      line-height: 1.16;
      font-size: 14px;
      letter-spacing: .03em;
     }
  
   
     .form__checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #757575;
      margin-bottom: 26px;
      margin-top: 10px;
  }
    
 